In [1]:
# (1) 시리즈 만들기
import pandas as pd

list_data = pd.Series([10,20,30,40,50])

print(type(list_data))
print(list_data)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# (2) index 부여하기
import pandas as pd

list_data = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

print(type(list_data))
print(list_data)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# (3) 딕셔너리로 시리즈 생성
import pandas as pd

dict_data = pd.Series({'학생1':'둘리', '학생2':'또치', '학생3':'도우너', '학생4':'희동이','학생5':'마이콜'})

print(type(dict_data))
print(dict_data)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [5]:
# (4) 리스트로 시리즈 만들고 index 부여하기
import pandas as pd

list_data = ['둘리','또치','도우너','희동이','마이콜']
sr = pd.Series(list_data, index=['학생1','학생2','학생3','학생4','학생5'])

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [57]:
# (5) 조건에 따른 시리즈 출력
import pandas as pd

blood = ['A형','B형','O형','AB형']
st = [34.2, 27.1, 26.7, 11.5]

sr = pd.Series(st, index=blood)

print('[시리즈 sr 출력]')
print(sr)
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]')
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1:4])
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]')
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr['B형':'AB형'])
print('[시리즈 sr의 크기 출력]')
print(len(sr))
print('[시리즈 sr의 인덱스 출력]')
print(sr.index)
print('[시리즈 sr의 데이터 값 출력]')
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [58]:
# (6)
import pandas as pd

dict_data = {'name':['둘리','또치','도우너','희동이'], 
             'kor':[90,80,70,70], 
             'eng':[99,98,97,46], 
             'mat':[90,70,70,60],
}

df = pd.DataFrame(dict_data)

print("타입 : ", type(df))
print(df)

타입 :  <class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [59]:
# (7)
import pandas as pd

dict_data = {'name':['둘리','또치','도우너','희동이'], 
             'kor':[90,80,70,70], 
             'eng':[99,98,97,46], 
             'mat':[90,70,70,60],
}

df = pd.DataFrame(dict_data, index=['학생1','학생2','학생3','학생4'])

print("타입 : ", type(df))
print(df)

타입 :  <class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [22]:
# (8)
import pandas as pd

df.index = ['st1','st2','st3','st4']
df.columns = ['dooly','doochi','dounar','heedong']

print(df)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [73]:
# (9)
import pandas as pd

data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}

df = pd.DataFrame(data)

print(df)

print(df[:5])     #print(df.head()) : 앞에서부터 다섯 행만 출력
print(df[-5:])    #print(df.tail()) : 뒤에서부터 다섯 행만 출력
print(df.columns)
print(df['name'])
print(df.eng)
print(df[['kor','mat']])
print('iloc 함수 사용 -------------')
print(df.iloc[3])
print(df.iloc[0,0])
print(df.iloc[3,2])
print(df.iloc[[2,3],2])          #df.iloc[2:4,2]
print(df.iloc[[2,3],[2,3]])      #df.iloc[2:4,2:4]
print('loc 함수 사용 -------------')
print(df.loc[3])
print(df.loc[0,'name'])
print(df.loc[3,'eng'])
print(df.loc[[2,3],'eng'])
print(df.loc[[2,3],['eng','mat']])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90
iloc 함수 사용 -------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60
loc 함수 사용 -------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60

In [74]:
# (10)
import pandas as pd

df.set_index('name', inplace=True)

print(df)

df1 = df.T
print(df1)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90
name  듀크1  듀크2  듀크3  듀크4  듀크5  듀크6  듀크7
kor    90   80   70   70   60   70   90
eng    99   98   97   46   77   56   90
mat    90   70   70   60   88   99   90